*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html,body{
    width: 100%;
}

.first {
    height: 120vh;
    background-color: #000;
    background-image: url(20240617_100624.jpg);
    background-size: cover;
    background-position: center;
}

.fourth{
    height: 500px;
}




li {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
}
.logo img {
    margin-right: 20px;
}
.links{
    margin-top: 7px;
}

/* header */
header{
    position: relative;
    padding: 0 2rem;
    
   
    /* background-color: black; */
}


.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}
.logo{
    display: flex;
}
.logo img{
    object-fit: cover;
    height: 40px;
    
}
.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: rgba(255, 0, 0, 0.56);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
}
.action_btn:hover{
    scale: 1.05;
    color: white;
    border: 1px solid black;
    
}

.action_btn:active{
    scale: 0.95;
}


/* Dropdown Menu */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.dropdown_menu.open{
    height: 380px;
}
.dropdown_menu li{
    padding: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    justify-content: center;
}

/* Resposive design */

@media (max-width: 950px) {
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
}

@media (max-width: 600px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

/* Page design */

.market{
    font-size: 4vw;
}
.market1{
    font-size: 2.3vw;
}

/* Form */
#City{
    height: 50px;
   
}

.user a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
    position: relative;
    transition: all 1s ease;
    
}
.user a:hover{
    text-decoration: underline;
    color: white;
}
.user i{
    margin-right: 10px;
}
.login{
    border-right: 1px solid white;
    padding-right: 10px;
  
}

.user{
    display: flex;
    align-items: center;
    justify-content: center ;
    /* background-color: black; */
    
}

.me{
    height: 19vh;
    width: 19vh;
    border-radius: 50%;
}
.ceo{
    display: flex;
    justify-content: center;
}

textarea{
    height: 200px;
    padding: 2px 10px;
}
.support{
    height: 100%;
}

.support input{
    width: 100%;
    padding: 5px;
}
.support button{
    width: 200px;
    color: white;
    height: 60px;
    text-align: center;

}
#batan{
  font-weight: bold;
  background-color: #3B71CA;
  transition: background-color 1s ease;

}
#batan:hover{
    color: white;
    background-color: black;
    border: 2px solid white;
}
.support label{
    margin-top: 20px;
    font-weight: bold;
}

